<!--The content below is only a placeholder and can be replaced.-->
<div>
    <mat-toolbar color="primary">
      <span>{{title}}</span>
    </mat-toolbar>

    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-around stretch">
          <div fxFlex="60">
            <app-inputarea ></app-inputarea>
            <div fxLayout="row" fxLayoutAlign="space-between center"> 
              <app-models></app-models>
              <button mat-raised-button color="primary">Recognize</button>
            </div>
          </div>
          <app-labels fxFlex="25"></app-labels>
        </div>
    </mat-card>

    <mat-card>
      <app-outputarea></app-outputarea>
    </mat-card>

  </div>

<router-outlet></router-outlet>
