body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-toolbar-row {
  justify-content: space-between;
}

.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

[data-entity] {
  line-height: 1;
  display: inline-block;
  background: transparent;
  padding: 0 0.15em 0.15em 0.15em;
  position: relative;
  cursor: help;
  border-bottom: 3px solid;
}
[data-entity]:after {
  box-sizing: border-box;
  content: attr(data-entity);
  line-height: 1;
  display: inline-block;
  font-size: 0.65em;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  bottom: -1.5em;
  left: 0;
  transition: opacity 0.25s ease;
}
[data-entity][data-entity="PER"] {
  border-bottom-color: #f44d61;
}
[data-entity][data-entity="PER"]:after {
  color: #f44d61;
}
[data-entity][data-entity="PER"] ~ [data-entity="PER"]:after {
  opacity: 0;
}
[data-entity][data-entity="PER"] ~ [data-entity="PER"]:hover:after {
  opacity: 1;
}
[data-entity][data-entity="ORG"] {
  border-bottom-color: #8e7dff;
}
[data-entity][data-entity="ORG"]:after {
  color: #8e7dff;
}
[data-entity][data-entity="ORG"] ~ [data-entity="ORG"]:after {
  opacity: 0;
}
[data-entity][data-entity="ORG"] ~ [data-entity="ORG"]:hover:after {
  opacity: 1;
}
[data-entity][data-entity="MIS"] {
  border-bottom-color: #2fbbab;
}
[data-entity][data-entity="MIS"]:after {
  color: #2fbbab;
}
[data-entity][data-entity="MIS"] ~ [data-entity="MIS"]:after {
  opacity: 0;
}
[data-entity][data-entity="MIS"] ~ [data-entity="MIS"]:hover:after {
  opacity: 1;
}
[data-entity][data-entity="TME"] {
  border-bottom-color: #123048;
}
[data-entity][data-entity="TME"]:after {
  color: #123048;
}
[data-entity][data-entity="TME"] ~ [data-entity="TME"]:after {
  opacity: 0;
}
[data-entity][data-entity="TME"] ~ [data-entity="TME"]:hover:after {
  opacity: 1;
}
[data-entity][data-entity="NUM"] {
  border-bottom-color: #784565;
}
[data-entity][data-entity="NUM"]:after {
  color: #784565;
}
[data-entity][data-entity="NUM"] ~ [data-entity="NUM"]:after {
  opacity: 0;
}
[data-entity][data-entity="NUM"] ~ [data-entity="NUM"]:hover:after {
  opacity: 1;
}
[data-entity][data-entity="FCP"] {
  border-bottom-color: #987b45;
}
[data-entity][data-entity="FCP"]:after {
  color: #987b45;
}
[data-entity][data-entity="FCP"] ~ [data-entity="FCP"]:after {
  opacity: 0;
}
[data-entity][data-entity="FCP"] ~ [data-entity="FCP"]:hover:after {
  opacity: 1;
}
[data-entity][data-entity="LOC"] {
  border-bottom-color: #34ba65;
}
[data-entity][data-entity="LOC"]:after {
  color: #34ba65;
}
[data-entity][data-entity="LOC"] ~ [data-entity="LOC"]:after {
  opacity: 0;
}
[data-entity][data-entity="LOC"] ~ [data-entity="LOC"]:hover:after {
  opacity: 1;
}

.entities {
  font: 18px/2.5 Arial, sans-serif;
  padding: 25px 50px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}